<launch>
  <!--

USAGE: roslaunch comp558 depth2pointcloud_bag.launch in:=IN_BAG_FILENAME out=OUT_BAG_FILENAME

  -->
  <node pkg="nodelet" type="nodelet" name="nodelet_mgr"  args="manager"/>

  <node pkg="nodelet" type="nodelet" name="depth2points"
        args="load depth_image_proc/point_cloud_xyz nodelet_mgr">
  </node>

  <!--<node name="depth2points_node" 
        pkg="comp558" type="depth2pointcloud_bag.py" args="$(arg in) $(arg out)"/>-->

</launch>
